* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-primary-color: #eee7d5;
    --bg-secondary-color: #302f2dec;
    --bg-tertiary-color: #218d88;
    --text-primary-color: #eee7d5;
    --button-secondary-color: #eb7b13;
    --border-primary-color: rgba(0, 0, 0, 0.1);
    --table-primary-color: #e4d99d;
    
    --large-font-size: 2.5rem;
    --medium-font-size: 1.2rem;
    --normal-font-size: 1.125rem;
}

body {
    background-color: #e7e3dcec;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
}

header,
form,
thead {
    background-color: var(--bg-secondary-color);
}

header {
    display: flex;
    align-items: center;
    padding-inline: 18rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}

header img {
    margin-right: 1rem;
    height: 50px;
    margin-right: 16px;
}

header h1 {
    font-size: var(--large-font-size);
    font-weight: bold;
    color: var(--text-primary-color);
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

form {
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

form input,
form button {
    padding: .5rem;
    font-size: var(--normal-font-size);
    border: none;
    border-radius: 6px;
    margin-block: 8px;
}

form input {
    background-color: var(--text-primary-color);
    border-bottom: 2px solid var(--text-secondary-color);
}

form button {
    background-color: var(--bg-tertiary-color);
    color: var(--text-primary-color);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

form button:hover {
    filter: contrast(1.5);
}

form button:nth-last-child(1) {
    background-color: var(--button-secondary-color);
}

form button img {
    height: 24px;
    margin-right: 10px;
}

table {
    width: 100%;
}

thead th {
    color: var(--text-primary-color);
    
}

tbody {
    background-color: var(--bg-primary-color);
    color: var(--bg-secondary-color);
    font-weight: bold;
}

table th {
    border-bottom: 2px solid var(--text-secondary-color);
    padding: 1rem;
    font-size: var(--medium-font-size);
    font-weight: bold;
}

table td {
    font-size: var(--normal-font-size);
    text-align: center;
    padding-block: 1rem;
    border-bottom: 1px solid var(--border-primary-color);
}

table td img {
    height: 40px;
    border-radius: 50%;
}

tfoot {
    font-weight: bold;
    background-color: var(--table-primary-color);
    color: var(--bg-secondary-color);
    padding: auto;
}
